:root {
    --sand: #eadbd4;
    --blue: #53aba9;
    --dark: #004080;
    --verylightgray: #fafafa;
    --white: #ffffff;
    --brightblue: #1778f0;
    --lightgray: #dadce0;
}


body {
background-color: #bfdeed;
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
}

.branding {
    display: flex;
    align-items: center;
  }

#brand-logo-icon {
    width: 55px;
    height: 55px;
    margin: 0 5% 0 5px;
  }

#brand-logo {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--brightblue);
    font-size: 40px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-width: 10px;
    border-color: var(#bfdeed);
}

header h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: var(--brightblue);
    font-size: 1.2rem;
    font-weight: 400;
   
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-color: var(--dark);
    text-align: center;
    padding: 1px;
    color:white;
    border-width: 10px;
    border-color: var(#bfdeed);
    
}

.big-banner {
    background-image: url("../images/beachyheader.webp");
    background-size: contain;
    text-align: center;
    padding: 30px;
    color:white;
    font-family: "Pacifico", serif;
    font-size: larger;
    border-width: 10px;
    border-color: var(#bfdeed);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px;
    border-radius: 10%;
    min-height: 100%;
}


.card {
    border-style: solid;
    border-radius: 5%;
    border-color: var(--white);
    background-color: var(--white);
    width: 1px;
    padding: 5px;
    flex: 0 0 400px;
    overflow: hidden;
    flex-basis: calc(20% - 40px);
    margin: 20px;
}

.card header {
    background-color: var(--dark);
    color: white;
    font-family: "Pacifico", serif;
    text-align: center;
    justify-content: center;
    border: 1px;
    border-radius: 15px 15px 0 0 ;

}

.card p {
    color: var(--dark);
    text-align: center;
    font-weight: 600;
}
.card img {
    width: 100%;
}

.boxes :hover {
    box-shadow: 2px 2px 5px var(--dark);

}