/* LIGHT AND DARK MODE CSS HERE */

:root {
  --medium: #141414;
  --dark: #000000;
  --lightgrey: #3c3c3c;
  --accent: rgb(80, 160, 255);
}

#toggle {
  font-size: 1.52em;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 0px 0px .5rem var(--light-accent);
}

body.dark {
  background-color: var(--medium);
  color: var(--accent);
}

body.dark header {
  background-color: var(--medium);
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
  border-color: black;
}

body.dark header h3 {
  color: var(--accent)
}

body.dark .nav-link {
  background-color: var(--lightgrey);
  border-color: var(--lightgrey);
  color: var(--accent);
}

body.dark .nav-link:hover {
  background-color: #509fff6a;
}

body.dark .banner {
  background-color: var(--lightgrey);
}

body.dark .column {
  background-color: var(--lightgrey);
}

body.dark .card {
  background-color: var(--lightgrey);
}

body.dark .card:hover {
  box-shadow: 2px 2px 5px rgba(80, 159, 255, 0.232);
}

body.dark .card p {
  color: var(--accent);
}

body.dark footer {
  background-color: var(--dark);
}



/* about us page card headers */ 
body.dark .kirstin {
  background-color: #add2ff;

}

body.dark .antonina {
  background-color:  #ffd592;

}

body.dark .jaden {
  background-color: #ff94a0;
}

body.dark .chris {
  background-color: #93ffc0;
}

/*column styling*/

body.dark .column:hover {
  box-shadow: 0px 5px 10px rgb(80, 160, 255, 0.2);
}

body.dark .dropdown .btn {
  background-color: var(--medium);
}

body.dark .delete-btn {
   background-color: var(--medium);
}

body.dark .dropdown .btn:hover {
  background-color: var(--accent);
}

body.dark .delete-btn:hover {
  background-color: var(--accent);
}

/*main page column headers*/
body.dark .column-header.not-started {
  background-color: #add2ff;
}

body.dark .column-header.working-on-it {
  background-color: #ffd592 ;
}

body.dark .column-header.on-hold {
  background-color: #ff94a0;
}

body.darl .column-header.done {
  background-color: #93ffc0;
}

/*styling for todo items*/
body.dark .todo-list {
  background-color: var(--lightgrey);
}

body.dark .todo-item {
  background-color: var(--lightgrey);
}

body.dark .todo-text {
  color: white;
}